<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let recordJob of ( pagedRecordJobs$ | async )">{{ recordJob.name }}
      <a href="javascript:void(0);" (click)="replayjobmodal.show(recordJob)"><i class="glyphicon glyphicon-repeat pull-right"></i></a>
    </li>
  </ul>
  <pagination *ngIf="(recordJobs | async )?.length > itemsPerPage"
              [totalItems]="(recordJobs | async )?.length"
              [(ngModel)]="currentPage"
              [itemsPerPage]="itemsPerPage"
              (pageChanged)="pageChanged($event)"></pagination>
</div>

<!-- Replay Job Modal -->
<rec-replay-job #replayjobmodal="replayjobmodal"
                [replayEndpoints]="replayEndpoints$ | async"
                (onOk)="publishReplayJobRequest($event)"></rec-replay-job>
